/* Reset default margin and padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #084211;
    background: linear-gradient(to right, hsla(150, 73%, 19%, 0.425),#183f2b), url(Img_Fernando/Menu_animated.gif);
    background-size: cover;
}

/* Set a background color for the header */
header {

    color: #D9DFDC;
    padding: 10px 0;
    text-align: center;
    
}

/* Style the header text */
h1 {
    font-size: 100px;
}

/* Style the navigation menu */
nav {
    background-color: transparent;
    text-align: center;
    padding: 10px 0;
}

/* Style the navigation links */
nav a {
    display: inline-block;
    margin: 0 50px;
    text-decoration: none;
    color: #82B7D2;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    font-size: 87px;
}

/* Change link color on hover */
nav a:hover {
    color: #ff6600;
}

/* Style the main content area */
.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Add some spacing between paragraphs */
p {
    margin-bottom: 15px;
}


