*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Space Grotesk', sans-serif;
    background-color: #6bb3b4;
}

header{
    width: 100%;
    height: 500px;
    background-color: #114c5f;
    background: linear-gradient(to right, hsla(195, 70%, 22%, 0.651),#224949), url(Img_Fernando/lain_animated.gif);
    background-size: cover;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav >a{
    color: #dfcfc5;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav >a:hover{
    text-decoration: underline;
}

header .Inicio{
    display: flex;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.Inicio h1{
    font-size: 50px;
    color: #e1e7dd;
}

.Inicio h2{
    font-size: 30px;
    font-weight: 300;
    color: #e1e7dd;
}
hr{
    color:#6bb3b4;
}


.Izquierda1{
    background-image: url(Img_Fernando/Codigo.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
}
.Derecho1{
    background-color: hsla(195, 69%, 20%, 0.39);
    width: 50%;
    height: 100vh;
    font-size: 40px;
    text-align: center;
}
.Presentacion{
    display: flex;
}

.Texto1{
    color: white;
    font-size: 100px;
    text-align: center;
}

.Presentacion2{
    display: flex;
}
.Texto2{
    color: rgb(40, 117, 206);
    font-size: 100px;
    text-align: center;
}
.Izquierda2{
    background-color: hsla(195, 68%, 28%, 0.863);
    width: 50%;
    height: 200vh;
    font-size: 40px;
    text-align: center;
}
.Derecho2{
    background-image: url(Img_Fernando/Fondo.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 200vh;
}

.Izquierda3{
    background-image: url(Img_Fernando/Megaman_ANIMATED.gif);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 150vh;
}
.Derecho3{
    background-color: hsla(195, 71%, 12%, 0.39);
    width: 50%;
    height: 150vh;
    font-size: 40px;
    text-align: center;
}
.Presentacion3{
    display: flex;
}
.Texto3{
    color: rgb(41, 76, 172);
    font-size: 100px;
    text-align: center;
}

.Presentacion4{
    display: flex;
}
.Texto4{
    color: rgb(40, 117, 206);
    font-size: 100px;
    text-align: center;
}
.Izquierda4{
    background-color: hsla(195, 69%, 18%, 0.863);
    width: 50%;
    height: 100vh;
    font-size: 40px;
    text-align: center;
}
.Derecho4{
    background-image: url(Img_Fernando/Metta_runer.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
}

